* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("img/bg.jpg");
  background-size: 100% 100%;
  user-select: none;
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

#logo img {
  width: 100px;
}

#plot {
  margin: 10px;
  flex: 1;
  position: relative;
  color: white;
}
#plot::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 100px;
  width: calc(100% - 200px);
  height: calc(100% - 60px);
  background-image: url("img/plotbg.svg");
  background-position: center center;
  background-size: cover;
}

#plot #delicious {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#plot #disgusting {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#plot #hard {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#plot #easy {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#bottomBar {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 10px;
  background: white;
}

#hint {
  margin-right: 20px;
}

#user-fruits {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

#user-fruits li, #plot li {
  list-style: none;
  padding: 0;
  font-size: 42px;
  cursor: grab;
  /* transition: all 0.3s linear; */
  text-shadow: 1px 1px 6px rgba(0, 0, 0, .6); 
}
#user-fruits .-disabled {
  pointer-events: none;
  opacity: .25;
  text-shadow: none;
}

#plot li:not(.user) {
  text-shadow: none;
}


#plot li {
  position: absolute;
}